#list {
    display: contents;
}

.article {
    background-color: lightgray;
    margin-top: 5vh;
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    height: 25vh;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
}

#article {
    display: flex;
}

.article:hover {
    background-color: #1D1045;
    color: white;
}

.subtitle {
    margin: 0 auto;
    width: 100%;
    padding-right: 1.5vw;
}

.subtitle tr {
    width: 100%;
}

.article-img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.tcF {
    width: 100%;
    font-size: 1.2rem;
}

.image-full {
    max-width: 100%;
    margin-top: 4vh;
    display: block;
    overflow: hidden;
}

.image-full img {
    height: 40vh;
    aspect-ratio: initial;
}

.content {
    margin-top: 6vh;
    text-align: left;
}

#articleHeader, #articleDate{
    z-index: 1;
}

@media (max-width: 1000px) {
    .article {
        background-color: lightgray;
        margin-top: 5vh;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        height: 25vh;
        display: inline-block;
        border-radius: 15px;
        overflow: hidden;
    }

    .content {
        margin-top: 3vh;
    }

    .image-full img {
        width: calc(90vw - 4rem);
        height: fit-content;
        max-height: 35vh;
    }

    h1 {
        font-size: 1.2rem !important;
    }

    .tcF {
        font-size: 1rem;
    }

    .tcR {
        font-size: 0.8rem;
    }
}