table {
    margin: 1rem auto;
}

.maps-div {
    width: 80%;
}

.maps-content-div {
    height: 30rem;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.maps-content-div img {
    width: 100%;
}

.maps-div table {
    width: 100%;
    vertical-align: top;
    padding: 0.5vh 0;
    margin: 0;
    background-color: lightgray;
}

.maps-content-div iframe {
    border:0;
}

.protected {
    pointer-events: none;
}

.tooltip {
  visibility: hidden;
  background-color: #1D1045;
  color: #fff;
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.5rem;

  /* Position the tooltip */
  position: fixed;
  z-index: 1;
}

.tooltipable:hover .tooltip {
  visibility: visible;
}

.tooltipable {
    cursor: pointer;
}

.inactive {
    color: red;
    font-weight: bold;
    cursor: pointer;
}
.active {
    color: green;
    font-weight: bold;
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

.streetView {
    background-image: url(../../images/building/now.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.banner-text {
    background-color:  rgba(0,0,0,0.5);
    color: white;
    padding: 1rem;
}

.banner-text a{
    color: lightgray;
}

.timeline {
    width: 70%;
    border-collapse: collapse;
}

.tr-odd {
    background-color: lightgray;
    color: #fff;
}

.tr-even{
    background-color: #fff;
    color: lightgray;
}

.timeline-year {
    writing-mode: sideways-lr;
    font-size: 3rem;
    font-weight: 700;
    width: 3.5rem;
}

.timeline-image {
    height: 30vh;
    max-height: 30vh;
    width: 20vw;
    overflow: hidden;
    text-align: center;
}

.timeline-image img {
    max-height: 100%;
}

.timeline-text {
    color: black;
    padding: 0.3rem;
}

.address-table{
    width: 80%;
}

.maps-embed {
    height: 30vh;
    width: 40vw;
    border-radius: 1rem;
    overflow: hidden;
    background: gray;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #bbb;

}

.maps-embed iframe {
    border: 0;
    height: 100%;
    width: 100%;
}

@media(max-width: 1000px) {
    .timeline-container {
        visibility: collapse;
        overflow: hidden;
        height: 0;
    }
}