* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: poppins;
}

header {
    height: 30vh;
    margin-bottom: 3vh;
}

footer {
    height: 5vh;
    margin-top: 3vh;
}

main {
    min-height: 59vh;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}

main hr {
    width: 40%;
    margin: 2vh auto;
    border-top: 4px solid #bbb;
    border-radius: 2px;
}
main a{
    color:#1D1045;
}

.footnote{
    font-size:11px;
}

h1 {
    font-size: 3em;
}
h2 {
    margin-top: 2vh;
}
ol {
    list-style: decimal;
    margin-left: 2%;
    margin-bottom: 1vh;
}
ol li {
    margin-bottom: 0.3vh;
}
.left-aligned-block {
    text-align: left;
}
.left-aligned-block p {
    margin-left: 1%;
}

textarea, input {
    width: 100%;
    margin-top : 1vh;
    margin-bottom : 1vh;
    margin-left: 2vh;
    resize: none;
    background-color: lightgray;
    border-style: none;
    border-radius: 0.4rem;
    padding: 0.2rem;
    padding-left: 10px;
}

input:invalid:required {
    background-color: pink;
}

.textarea-caption {
    vertical-align: top;
}

.textarea-caption p {
    margin-top: 0.2rem;
}

td p {
    text-align: right;
}

button {
    width: 100%;
    margin-top : 1vh;
    margin-bottom : 1vh;
    margin-left: 2vh;
    padding: 0.2rem;
    padding-left: 10px;
    border-style: none;
    border-radius: 0.4rem;
    background-color: #1D1045;
    color: white;
}

button:hover {
    background-color: #361f7e;
}

table {
    margin: 5% auto;
    justify-content: center;
    display:  flex;
}

.tc1 {
    width: auto;
    max-width: 20vw;
}

.tc2 {
    max-width: 80vw;
    width: 50rem;
}