.group {
    display: flex inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex: 0 0 20vh
}
.board-member {  
    width: 22%;
    margin: 1.5% auto;
    height: 50vh;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-top: 13.5vh;
    margin-bottom: 13.5vh;
    display: inline-block;
    vertical-align: top;
}

.board-member img {
    max-height: 80%;
    object-fit: cover;
    max-width: 100%;
}

.board-member-comment {
    color: darkgray;
}

.name-tag {
    font-weight: bold;
    font-size: 1.2em;
}

td {
    padding: 0.5rem;
}

.comment {
    color: gray;
    font-size: 0.8rem;
}

@media (pointer:fine) {
    .board-member:hover {
        height: 75vh;
        width: 33%;
        font-size: 1.5em;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
}

@media (max-width: 1600px) {
    .board-member {  
        width: 26%;
        margin: 1.5% auto;
        height: 50vh;
    }
}

@media (max-width: 1200px) {
    .board-member {  
        width: 45%;
        margin: 1.5% auto;
        height: 50vh;
    }
}

@media (max-width: 770px) {
    .board-member {  
        width: 80%;
        margin: 1.5% auto;
        height: 50vh;
    }
}