.wide-margin-bottom {
    margin-bottom: 6vh !important;
}

.wide-margin-top {
    margin-top: 6vh !important;
}

.thin-margin-bottom {
    margin-bottom: 3vh !important;
}

.thin-margin-top {
    margin-top: 3vh !important;
}