table {
    margin: 5% auto;
    justify-content: center;
}

.caption-column {
    width: auto;
    max-width: 20vw;
    padding-right: 1vw;
}

.input-column {
    max-width: 80vw;
    width: 50rem;
}

.column {
    padding: 0 0.3rem;
}