header{
    width: 100%;
    height: 300px;
    display: block;
    margin: 0 auto;
    font-size: 40px;
    margin-bottom: 5vh;
}

    header .inner-div{
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
        background-image: url(../images/heitzenhofen.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
        header .logo-div{
            display: table;
            float: left;
            position: fixed;
            z-index: 100;
            animation-timeline: scroll(root);
            
        }
            header .logo-div div{
                width: 225px;
                max-height: 300px;
                position: relative;
                display: inline-block;
                overflow: hidden;
                margin: 0;
            }
            header .logo-div img{  
                text-align: center;
                max-width: 90%;
                max-height: 90%;
                object-fit: contain;
                object-position: center;
                object-fit: fill;
                display: block;
                margin: 5% auto;
                margin-left: 5%;
            }
    header .navbar-div{
        margin: 0 auto;
        display: block;
        width: 100%;
        background-color: #1D1045;
        position: fixed
    }
        header nav{
            margin: 0 auto;
            text-align: center;
            display: flex;
            width: 80%;
            justify-content: center;
        }
            header nav ul{
                display: flex;
                vertical-align: middle;
                justify-content: right;
                height: 100%;
                width: 100%;
                flex-wrap: nowrap;
            }
            header nav li{
                display: table;
                height: 100%;
                float: left;
                text-wrap: nowrap;
            }
            header nav li:hover{
                background-color: #361f7e;
            }
            header nav span {
                display: table-cell;
                vertical-align: top;
            }
            header nav .menuitem {
                color: white;
                cursor: pointer;
                -webkit-user-select: none; /* Safari */
                -ms-user-select: none; /* IE 10 and IE 11 */
                user-select: none; /* Standard syntax */
            }

                header nav .menuitem p {
                    padding-left:50px;
                    padding-right:50px;
                }
                header .menuitem .submenu {
                    font-size: 20px;
                    height: 0px;
                    justify-content: center;
                    overflow: hidden;
                    -webkit-transition: all 0.5s ease-in-out;
                    -moz-transition: all 0.5s ease-in-out;
                    -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                    display: grid;
                    width: 100%;
                    flex-wrap: nowrap;
                }
                header .menuitem:hover .submenu {
                    height: auto;
                }
                header .submenu li {
                    width: 100%;
                    display: table;
                }
                header .submenu span {
                    display: table-cell;
                    vertical-align: middle;
                }

                header .submenu p{
                    padding-left:30px;
                    padding-right:30px;
                    color: white;
                }
                header .menuitem li:hover {
                    background-color: #1D1045;
                }