* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: poppins;
}

header {
    height: 30vh;
    margin-bottom: 3vh;
}

footer {
    height: 5vh;
    margin-top: 3vh;
}

main {
    min-height: 59vh;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
}

main hr {
    width: 40%;
    margin: 2vh auto;
    border-top: 4px solid #bbb;
    border-radius: 2px;
}
main a{
    color:#1D1045;
}

.footnote{
    font-size:0.75rem;
}

h1 {
    font-size: 3em;
}
h2 {
    margin-top: 2vh;
}
ol {
    list-style: decimal;
    margin-left: 2%;
    margin-bottom: 1vh;
}
ol li {
    margin-bottom: 0.3vh;
}
.left-aligned-block {
    text-align: left;
}
.left-aligned-block p {
    margin-left: 1%;
}



td p {
    text-align: right;
}

table {
    margin: 5% auto;
    justify-content: center;
    display:  flex;
}

.tc1 {
    width: auto;
    max-width: 20vw;
}

.tc2 {
    max-width: 80vw;
    width: 50rem;
}

.right-aligned {
    text-align: right;
}

.base-button {
    margin-top: 1vh;
    font-size: 1.3rem;
    border: 0;
    height: 2.5rem;
    border-radius: 0.5rem;
    display: flex;
    vertical-align:middle;
    padding-left: 1rem;
    padding-right: 1rem;
}

.base-button:hover {
    background-color: #1D1045;
    color: white;
}