* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: poppins;
}

header {
    height: 30vh;
    margin-bottom: 3vh;
}

footer {
    height: 5vh;
    margin-top: 3vh;
}

main {
    min-height: 59vh;
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

main hr {
    width: 40%;
    margin: 2vh auto;
    border-top: 4px solid #bbb;
    border-radius: 2px;
}
main a{
    color:#1D1045;
}

.footnote{
    font-size:0.75rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2vh;
}

h2 {
    margin-top: 2vh;
}

ol {
    list-style: decimal;
    margin-left: 2%;
    margin-bottom: 1vh;
}
ol li {
    margin-bottom: 0.3vh;
}
#placeholder {
    margin: auto;
    padding: auto;
    height: 100%;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #bbb;
    border-radius: 1rem;
}


@media (max-width: 1000px) {
    header {
        height: 14rem;
        margin-bottom: 2rem;
    }
}