table {
    margin: 5% auto;
    justify-content: center;
}

.tcR {
    text-align: right;
}

.tcS {
    max-width: 80vw;
    width: 50rem;
}

.tcL {
    text-align: left;
}

.caption-column {
    width: auto;
    max-width: 20vw;
}

.input-column {
    max-width: 80vw;
    width: 50rem;
}