* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: poppins;
}
header {
    height: 30vh;
    margin-bottom: 3vh;
}
main {
    min-height: 59vh;
}
footer {
    height: 5vh;
    margin-top: 3vh;
}